*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #EEEEEE;
  --blue: #548CA8;
  --ash: #476072;
  --black: #334257;
}

body{
  font-family: 'Zen Loop', cursive;
  background-color: var(--black);
  color: var(--white);
  font-size: 20px;
}

.header{
  background-color: var(--white);
  border:2px solid var(--ash);
  color:var(--blue);
  display: flex;
  justify-content: space-around;
}

.lgout{
  justify-content: right;
}

.head{
  margin: 10px;
}

.login{
  background-color: var(--blue);
  border: none;
  color: var(--white);
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
}

.login:hover{
  background-color: var(--ash);
  border: none;
  color: var(--white);
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
}

h2{
  text-align:center;
  color: var(--white);
}

.start{
  text-align:center;
  border:2px solid var(--ash);
  color:var(--white);
  justify-content: space-around;
}

input[type=text] {
  padding: 2px 2px;
  border: none;
  border-radius: 4px;
  background-color: var(--white);
  margin: 5px;
}

select{
  width: 20%;
  padding: 2px 2px;
  border: none;
  border-radius: 4px;
  background-color: var(--white);
}

ul {
  display: flex;
  flex-direction: column-reverse;
}
li {
    flex: 0 0 auto;
    font-family: monospace;
}
li:nth-last-of-type(n+20) {
  display: none;
}

.btn{
  background-color: var(--blue);
  border: none;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--ash);
  border: none;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.img{
  width: 50;
  height: 70;
  border: 1px solid var(--white);
  margin-left: 2px;
  margin-right: 2px;
}

.active{
  width: 50px;
  height: 70px;
  border: 1px solid var(--white);
  margin-left: 2px;
  margin-right: 2px;
}

.active:hover{
  width: 55px;
  height: 70px;
  border: 1px solid var(--white);
}

.button {
  background-color: var(--black);
  border: none;
}

.bot{
  text-align: center;
  border: 1px solid var(--white);
  padding-bottom: 10px;
}

.player1 {
  grid-area: player1;
  text-align: center;
  border: 1px solid var(--white);
  padding-bottom: 10px;
  border-radius:40px;
}
.player2 {
  grid-area: player2;
  text-align: center;
  border: 1px solid var(--white);
  padding-bottom: 10px;
  border-radius:40px;
}
.player3 {
  grid-area: player3;
  text-align: center;
  border: 1px solid var(--white);
  padding-bottom: 10px;
  border-radius:40px;
}
.player4 {
  grid-area: player4;
  text-align: center;
  border: 1px solid var(--white);
  padding-bottom: 10px;
  border-radius:40px;
}

.mid{
  grid-area: mid;
  text-align: center;
  border: 1px solid var(--ash);
  margin: 20px;
  border-radius: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". . player3 player3 . ."
    ". . player3 player3 . ."
    "player2 player2 mid mid player4 player4"
    "player2 player2 mid mid player4 player4"
    ". . player1 player1 . ."
    ". . player1 player1 . .";
}

.messages {
  float: right;
  height: 400px;
  width: 300px;
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  border-radius: 10px;
}

#message{
  width: 75%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid var(--blue);
}

#sendMessage{
  height: 40px;
  padding: 10px;
  border: none;
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
