<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messenger</title>
    <link rel="icon" href ="../public/assets/images/icons/messenger.png" type = "image/x-icon">

    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/master.css">
</head>
<body>

<div class="container">
    <div class="loading" id="loading">

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(checkAuthorization, 2000, dashboard, login)

        function checkAuthorization(dashboard, login) {
            $.ajax({
                url: "http://127.0.0.1:8000/api/user/dashboard",
                type: "GET",
                headers: { authorization: localStorage.getItem("tokenType") + " " + localStorage.getItem("token")},
            }).done(response => {
                // console.log(response)
                if (response.success) dashboard()
                else login()
            }).fail(login)
        }
        function dashboard() {
            window.location.replace("./user/dashboard.html")
        }
        function login(err) {
            // console.log(err)
            window.location.replace("./authentication/login.html")
        }
    })
</script>
</body>
</html>